* {
    margin: 0;
    padding: 0;
}

html {
	/* background: #000; */
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	height: 100vh;
	overflow: hidden;
	color: #fff;
	color: var(--color-text);
	background-color: #000;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slide-wrapper {
    display: none;
}
  
.scene-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: inline-block;
}

.scene-nav--next {
    right: 2%;
}

.scene-nav--prev {
    left: 2%;
}